/* Defaults */
/* Header */
/* Navigation. */
/* Tabs. */
/* Blocks. */
/* Buttons. */
/* Forms. */
/* Autocomplete. */
/* Messages. */
/* Tables. */
/* Footer */
/* Content. */
/* Misc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\000036}}
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #1a1a1a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000312}}
hr {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000322}}
.header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #002c52; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000328}}
.header img {
  width: 150px;
  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000333}}
.text {
  position: absolute;
  top: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000338}}
.invoice-header {
  font-size: 14.4px;
  font-size: 0.9rem;
  color: darkgray;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000344}}
.invoice-header-date {
  border: none;
  margin-top: 25px;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000350}}
.customer .field-label,
.customer .field__label {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000354}}
.customer .field-name-field-customer-lastname,
.customer .field--name-field-customer-lastname {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000359}}
.customer {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000363}}
.addressfield-container-inline, .street-block, .country {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000367}}
.line-items {
  margin-top: 96px;
  margin-top: 6rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000371}}
.view-commerce-line-item-table {
  font-size: 13.6px;
  font-size: 0.85rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000373}}
  .view-commerce-line-item-table table {
    width: 100%;
    line-height: 1.2em;
    border-collapse: collapse; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000378}}
  .view-commerce-line-item-table thead {
    border-bottom: 2px solid #002c52; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000380}}
    .view-commerce-line-item-table thead tr {
      background: #dfdfdf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000383}}
    .view-commerce-line-item-table thead th {
      text-align: left;
      font-weight: 600;
      padding: 8px;
      padding: 0.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000392}}
  .view-commerce-line-item-table tbody tr.odd {
    background: #fcfcfc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000395}}
  .view-commerce-line-item-table tbody tr.even {
    background: #f6f6f6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\0000399}}
  .view-commerce-line-item-table tbody td {
    text-align: left;
    padding: 8px;
    padding: 0.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003105}}
  .view-commerce-line-item-table .views-field-line-item-title {
    width: 65%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003109}}
  .view-commerce-line-item-table .views-field-quantity {
    width: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003113}}
  .view-commerce-line-item-table .views-align-right {
    text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003118}}
.order-total {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 48px;
  margin-top: 3rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003122}}
  .order-total table {
    border-collapse: collapse;
    font-weight: 600;
    width: 50%;
    margin-left: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003127}}
    .order-total table tr {
      background: #f6f6f6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003130}}
    .order-total table td {
      padding: 8px;
      padding: 0.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003132}}
      .order-total table td.component-total {
        text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003139}}
.contextual-links-wrapper {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003143}}
.invoice-canceled .order-total table {
  margin-top: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003148}}
.invoice-text {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin-top: 112px;
  margin-top: 7rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/commerce_invoice_pdf\.scss}line{font-family:\00003153}}
.invoice-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #002c52;
  width: 100%;
  font-size: 14.4px;
  font-size: 0.9rem;
  color: darkgray;
  text-align: center;
  padding-top: 4.8px;
  padding-top: 0.3rem; }
