// Import external libraries.
@import "compass";
@import "susy";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

// use SPRITE COW for the sprites.

.panel-pane.pane-page-content {
  @include grid-span(3, 1);
  
  @include breakpoint($mobile) {
    @include grid-span(6, 1);
  }
  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }
  @include breakpoint($desktop) {
    @include grid-span(12, 1);
  }
}

s, strike, del {
    color: $color-font-a;
}

/* Messages */
div {
  &.messages {
    color: $color-messages;
    border: none;
    @include rem-fallback(padding, .3rem);
    @include rem-fallback(margin, 1rem, 0);
    background: none;
    @include rem-fallback(font-size, .85rem);
    //border-bottom: 1px solid $color-messages-border;
    //background: $color-messages-background;
    @include border-radius();
    @include single-box-shadow();
    text-align: justify;
    
    @include breakpoint ($mobile) {
      @include rem-fallback(font-size, 1rem);
    }
    @include breakpoint ($tab) {
      @include rem-fallback(padding, .4rem);
      @include rem-fallback(font-size, 1.1rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(padding, .5rem);
    }

    ul {
      margin: 0;
      li {
        @include rem-fallback(padding, .35rem);
        margin: 0;
        
        @include breakpoint ($mobile) {
          @include rem-fallback(padding, .5rem);
        }
      }
    }
  }

  &.status, &.messages--status {
    color: $color-messages-green;
    //background: $color-messages-green-background;
    //border-bottom: 1px solid $color-messages-green-border;
  }

  &.warning, &.messages--warning {
    color: $color-messages-yellow;
    //background: $color-messages-yellow-background;
    //border-bottom: 1px solid $color-messages-yellow-border;
  }

  &.error, &.messages--error {
    color: $color-messages-red;
    //background: $color-messages-red-background;
    //border-bottom: 1px solid $color-messages-red-border;
  }
}