@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only only works with relative paths.
@import "../../variables/**/*";
@import "../../abstractions/**/*";

.l-main-block {
  margin: 0 auto;
  @include breakpoint($tab) {
    padding-bottom: 245px;
  }
  @include breakpoint($desktop) {
    padding-bottom: 200px;
  }
  @include clearfix;
}

.l-content-block {
  h2.pane-title {
    display: none;
  }
  
  section.first {
    position: relative;
    margin: 0 auto;
    width: 100%;
    @include rem-fallback(min-height, 17rem);
    @include breakpoint($mobile) {
      @include rem-fallback(min-height, 20rem);
    }
    @include breakpoint($tab) {
      @include rem-fallback(min-height, 30rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(min-height, 33rem);
    }
  }
  
  section.second, section.third {
    position: relative;
    margin: 0 auto;
    width: 100%;
    @include rem-fallback(min-height, 17rem);
    @include breakpoint($mobile) {
      @include rem-fallback(min-height, 20rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(min-height, 27rem);
    }
  }
  
  .arrow-first, .arrow-second, .arrow-third, .arrow-special, .arrow-contact {
    display: none;

    @include breakpoint($tab) {
      display: inherit;
      height: 48px;
      width: 48px;
      background-image: url(https://3devis.be/sites/default/files/pictures/arrows-down.png);
      background-size: 48px;
      background-position: 0 100%;
      position: absolute;
      @include rem-fallback(bottom, 2rem);
      left: 48%;
      cursor: pointer;
    }
  }
  
  .arrow-second, .arrow-third, .arrow-contact {
    @include breakpoint($tab) {
      background-position: 0 0;
    }
  }
  
  h3.title {
    margin: 0 auto;
    @include rem-fallback(font-size, 1.25rem);
    @include rem-fallback(padding-bottom, .3rem);
    font-weight: 200;
    text-transform: uppercase;

    @include breakpoint($mobile) {
      @include rem-fallback(font-size, 1.55rem);
    }
    @include breakpoint($tab) {
      @include rem-fallback(padding-bottom, 1rem);
      @include rem-fallback(font-size, 1.75rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(padding-bottom, 1.2rem);
      @include rem-fallback(font-size, 2.1rem);
    }
  }
  
  h4.subtitle {
    width: 290px;
    margin: 0 auto;
    @include rem-fallback(font-size, 1rem);
    font-weight: 200;
    @include rem-fallback(padding-bottom, .15rem);
    @include rem-fallback(line-height, 1.7rem);

    @include breakpoint($mobile) {
      width: auto;
      @include rem-fallback(line-height, 1.65rem);
      @include rem-fallback(font-size, 1.05rem);
      @include rem-fallback(padding-bottom, 1rem);
    }
    @include breakpoint($tab) {
      @include rem-fallback(font-size, 1.15rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(line-height, 1.9rem);
      @include rem-fallback(padding-bottom, .75rem);
      @include rem-fallback(font-size, 1.25rem);
    }
    
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: underline;
    }
  }
  
  section.first {
    opacity: 1;
    visibility: inherit;
    //background-image: url(http://cdn.lollum.com/nantes/corporate/wp-content/uploads/2014/10/slide_corporate.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    
    &.about {
      background-image: url(https://3devis.be/sites/default/files/pictures/about.jpg);
    }
    
    &.demandez-devis {
      background-image: url(https://3devis.be/sites/default/files/pictures/devis.jpg);
    }
    
    &.devenir-fournisseur {
      background-image: url(https://3devis.be/sites/default/files/pictures/devenir.jpg);
    }
    
    &.devis {
      background-image: url(https://3devis.be/sites/default/files/pictures/devis.jpg);
    }
    
    &.devenir {
      background-image: url(https://3devis.be/sites/default/files/pictures/devenir.jpg);
    }
    
    article.text-box {
      margin: 0 auto;
      @include rem-fallback(padding, 3rem, 0);
      width: 295px;
      @include breakpoint($mobile) {
        width: $mobile - 10;
        @include rem-fallback(padding, 8rem, 0, 3.5rem);
      }
      @include breakpoint($tab) {
        width: $tab - 10;
        @include rem-fallback(padding-top, 9rem);
      }
      @include breakpoint($desktop) {
        width: $desktop - 5;
      }
      text-align: center;
      
    }
    
    h1.title {
      color: $color-font-title;
      @include rem-fallback(font-size, 1.75rem);
      font-weight: 400;
      
      @include breakpoint($mobile) {
        @include font-family('Raleway');
        @include rem-fallback(font-size, 2rem);
        @include rem-fallback(padding-bottom, 1.5rem);
      }
      @include breakpoint($tab) {
        @include rem-fallback(line-height, 3.5rem);
        @include rem-fallback(font-size, 2.52rem);
      }
      @include breakpoint($desktop) {
        @include rem-fallback(font-size, 3.07rem);
        @include rem-fallback(line-height, 4.5rem);
      }
    }
    
    h4.subtitle {
      color: $color-block-font-gray;
    }
    
  }
  
  article.text-box {
    @include rem-fallback(padding-top, 3rem);
    text-align: center;

    @include breakpoint($mobile) {
      @include rem-fallback(padding-top, 5rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(padding-top, 6rem);
    }
  }
  
  .inner-1, .inner-2, .inner-3 {
    text-align: center;
    @include rem-fallback(padding-bottom, 3rem);
  }
  
  .boxes {
    margin: 0 auto;
    @include breakpoint($mobile) {
      width: $mobile - 10;
    }
    @include breakpoint($tab) {
      width: 600px;
      @include rem-fallback(min-height, 14rem);
    }
    @include breakpoint($desktop) {
      @include grid-span(12, 1, false, 0); // 12 of 12
      margin: 0 auto;
      float: none;
      max-width: $max-width;
      
      h4.subtitle {
        //text-align: justify;
      }
    }
  }
  
  @include breakpoint($desktop) {
    .inner-1 {
      @include grid-span(4, 1, false, 2.5rem);
    }
    .inner-2 {
      @include grid-span(4, 5, false, 2.5rem);
    }
    .inner-3 {
      @include grid-span(4, 9, false, 2.5rem);
    }
  }
  
  section.second {
    &.devenir {
      @include breakpoint($desktop) {
        @include rem-fallback(min-height, 37rem);
      }
    }
    article.text-box {
      @include rem-fallback(padding-bottom, 1.5rem);
      h3.title {
        color: $color-font-title;
        font-weight: 400;
      }
    }
    article.boxes_services {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: $max-width;
      margin: 32px auto 48px;
      a.service {
        flex: 1 0 220px;
        text-align: center;
        @include border-radius();
        @include single-box-shadow();
        @include rem-fallback(margin, 1rem);
        display: flex;
        flex-direction: column;
        min-height: 180px;
        
        .service-title {
          @include rem-fallback(padding, .75rem);
          color: $color-navigation-a;
          background: $color-navigation-background;
          @include border-top-radius();
        }
        .service-image {
          background: $color-block-background-gray url("https://3devis.be/sites/default/files/pictures/devenir.jpg") no-repeat scroll 0% 0%;
          background-size: cover;
          flex: 0 1 auto;
          align-self: center;
          width: 100%;
          height: 100%;
          @include border-bottom-radius();
          .service-go {
            background-color: $color-service-go-background;
            color: $color-navigation-a;
            height: 100%;
            padding: 21% 0;
            font-weight: 400;
            @include breakpoint($desktop) {
              display: none;
              @include rem-fallback(font-size, 1.5rem);
              @include rem-fallback(line-height, 1.8rem);
            }
          }
        }
      }
    }
    
    @include breakpoint($mobile) {
      @include rem-fallback(padding-bottom, 3.5rem);
    }
  }
  
  section.third {
    background: $color-block-background-gray;
  }
  
  section.small {
    @include rem-fallback(min-height, 10rem);
    @include breakpoint($tab) {
      @include rem-fallback(min-height, 16rem);
    }
    
    article.text-box {
      @include breakpoint($tab) {
        @include rem-fallback(padding-top, 3.4rem);
      }
    }
  }
  
  section.small.larger {
    @include breakpoint($tab) {
      @include rem-fallback(min-height, 18rem);
    }
  }
  
  .about-small {
    text-align: center;
    margin: 0 gutter-span();
    @include rem-fallback(padding, 2rem, 0, 1.5rem);
    @include breakpoint($mobile) {
      margin: 0 gutter-span();
    }
    @include breakpoint($tab) {
      margin: 0 gutter-span();
    }
    p {
      text-align: center;
      @include rem-fallback(font-size, .8rem);
      @include rem-fallback(margin-bottom, .5rem);
      
      @include breakpoint($tab) {
        @include rem-fallback(font-size, .85rem);
        @include rem-fallback(margin-bottom, .3rem);
      }
    }
  }
  
  .general-small {
    @extend .about-small;
    padding-top: 0;
    @include breakpoint($mobile) {
      @include rem-fallback(padding-bottom, 2.5rem);
    }
  }
  
  fieldset.devenir-comptable, fieldset.demander-devis,
  fieldset.group-admin, fieldset.group-contact-form,
  div#edit-actions, div#messages-box, div.pane-page-messages,
  .field--extra-text {
    @include grid-span(3, 1);
  
    @include breakpoint($mobile) {
      @include grid-span(6, 1);
    }
    @include breakpoint($tab) {
      @include grid-span(8, 1);
    }
    @include breakpoint($desktop) {
      max-width: $max-width;
      @include grid-span(12, 1);
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .field--map {
    position: absolute;
    width: 100%;
  }
  
  div.cover {
    position: absolute;
    width: 100%;
    @include rem-fallback(min-height, 25rem);
    @include breakpoint($mobile) {
      @include rem-fallback(min-height, 32rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(min-height, 33rem);
    }
    z-index: 0;
    opacity: 0.5;
    background-color: black;
  }
  
  fieldset.group-contact-form {
    margin-bottom: 0;
    form#webform-client-form-17, div.form-actions, input.webform-submit {
      margin-bottom: 0;
    }
  }
  
  .field--extra-text {
    @include rem-fallback(padding, .75rem);
    @include rem-fallback(font-size, .8rem);
  }
  
}