/* Defaults */
/* Header */
/* Navigation. */
/* Tabs. */
/* Blocks. */
/* Buttons. */
/* Forms. */
/* Autocomplete. */
/* Messages. */
/* Tables. */
/* Footer */
/* Content. */
/* Misc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\000039}}
.l-main-home {
  margin: 0 auto;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\000039}}
    .l-main-home {
      padding-bottom: 245px; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\000039}}
    .l-main-home {
      padding-bottom: 200px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danielosoriov\/\.rvm\/gems\/ruby-1\.9\.3-p547\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000347}}
  .l-main-home:before, .l-main-home:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/danielosoriov\/\.rvm\/gems\/ruby-1\.9\.3-p547\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .l-main-home:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000322}}
.l-content-home h2.pane-title {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000326}}
.l-content-home section.first {
  margin: 0 auto;
  width: 100%;
  min-height: 272px;
  min-height: 17rem; }
  @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000326}}
    .l-content-home section.first {
      min-height: 320px;
      min-height: 20rem; } }
  @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000326}}
    .l-content-home section.first {
      min-height: 464px;
      min-height: 29rem; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000326}}
    .l-content-home section.first {
      min-height: 544px;
      min-height: 34rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000341}}
.l-content-home section.second, .l-content-home section.third {
  margin: 0 auto;
  width: 100%;
  min-height: 272px;
  min-height: 17rem; }
  @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000341}}
    .l-content-home section.second, .l-content-home section.third {
      min-height: 320px;
      min-height: 20rem; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000341}}
    .l-content-home section.second, .l-content-home section.third {
      min-height: 400px;
      min-height: 25rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000353}}
.l-content-home section.first {
  opacity: 1;
  visibility: inherit;
  background-image: url(http://cdn.lollum.com/nantes/corporate/wp-content/uploads/2014/10/slide_corporate.jpg);
  background-color: transparent;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000362}}
  .l-content-home section.first article.text-box {
    margin: 0 auto;
    text-align: center;
    width: 295px;
    padding-top: 80px;
    padding-top: 5rem; }
    @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000362}}
      .l-content-home section.first article.text-box {
        padding-top: 120px;
        padding-top: 7.5rem;
        width: 374px; } }
    @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000362}}
      .l-content-home section.first article.text-box {
        width: 600px;
        padding-top: 208px;
        padding-top: 13rem; } }
    @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000362}}
      .l-content-home section.first article.text-box {
        width: auto;
        padding-top: 248px;
        padding-top: 15.5rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000381}}
  .l-content-home section.first h1.pane-title {
    color: #ffb500;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 400; }
    @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000381}}
      .l-content-home section.first h1.pane-title {
        font-family: "Raleway", Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 32px;
        font-size: 2rem; } }
    @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000381}}
      .l-content-home section.first h1.pane-title {
        line-height: 56px;
        line-height: 3.5rem;
        font-size: 40.32px;
        font-size: 2.52rem; } }
    @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000381}}
      .l-content-home section.first h1.pane-title {
        font-size: 49.12px;
        font-size: 3.07rem;
        line-height: 72px;
        line-height: 4.5rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003101}}
.l-content-home article.text-box {
  padding-top: 48px;
  padding-top: 3rem;
  text-align: center; }
  @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003101}}
    .l-content-home article.text-box {
      padding-top: 96px;
      padding-top: 6rem; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003101}}
    .l-content-home article.text-box {
      padding-top: 144px;
      padding-top: 9rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003113}}
.l-content-home h3.title {
  margin: 0 auto;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 4.8px;
  margin-bottom: 0.3rem;
  font-weight: 200;
  text-transform: uppercase; }
  @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003113}}
    .l-content-home h3.title {
      font-size: 24.8px;
      font-size: 1.55rem; } }
  @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003113}}
    .l-content-home h3.title {
      margin-bottom: 16px;
      margin-bottom: 1rem;
      font-size: 28px;
      font-size: 1.75rem; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003113}}
    .l-content-home h3.title {
      margin-bottom: 19.2px;
      margin-bottom: 1.2rem;
      font-size: 33.6px;
      font-size: 2.1rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003133}}
.l-content-home h4.subtitle {
  width: 290px;
  margin: 0 auto;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2.4px;
  margin-bottom: 0.15rem;
  line-height: 27.2px;
  line-height: 1.7rem; }
  @media (min-width: 384px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003133}}
    .l-content-home h4.subtitle {
      line-height: inherit;
      width: 360px;
      font-size: 18.4px;
      font-size: 1.15rem; } }
  @media (min-width: 704px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003133}}
    .l-content-home h4.subtitle {
      width: auto;
      margin-bottom: 8px;
      margin-bottom: 0.5rem;
      font-size: 20px;
      font-size: 1.25rem; } }
  @media (min-width: 1088px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003133}}
    .l-content-home h4.subtitle {
      margin-bottom: 12px;
      margin-bottom: 0.75rem;
      font-size: 21.6px;
      font-size: 1.35rem; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003156}}
  .l-content-home h4.subtitle a {
    font-size: inherit; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003161}}
.l-content-home section.third {
  background-image: url(http://cdn.lollum.com/nantes/corporate/wp-content/uploads/2014/10/bg_buy_section.jpg);
  background-color: #435b54;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/3devis\/sites\/all\/themes\/devis\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\00003169}}
  .l-content-home section.third h3.title, .l-content-home section.third h4.subtitle {
    color: #f2f2f2; }
