// LOGIN THEME HELP URL: https://www.drupal.org/node/1949472

// This is for the maintenance page.
.l-main-block.maintenance {
  @include rem-fallback(padding, 7rem, 0, 3.5rem);
  @include breakpoint($tab) {
    @include rem-fallback(padding, 12rem, 0, 6rem);
  }
  .l-content-block {
    text-align: center;
  }
  
  h1.title {
    color: $color-font-title;
    @include rem-fallback(font-size, 1.75rem);
    font-weight: 400;

    @include breakpoint($mobile) {
      @include font-family('Raleway');
      @include rem-fallback(font-size, 2rem);
    }
    @include breakpoint($tab) {
      @include rem-fallback(line-height, 3.5rem);
      @include rem-fallback(font-size, 2.52rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(font-size, 3.07rem);
      @include rem-fallback(line-height, 4.5rem);
    }
  }
}

/* Fixing input widths here as in _form.scss is not working */
input[type="text"],
input[type="password"],
input[type="email"],
select {
  //@include grid-span(3, 1, false, 0); //3 of 3
  //float: none;
  width: 100%;
  
  @include breakpoint($mobile) {
    @include grid-span(4, 1, false, 0); //4 of 6
    float: none;
  }
  @include breakpoint($tab) {
    @include grid-span(4, 1, false, 0); //4 of 8
    float: none;
  }
  @include breakpoint($desktop) {
    @include grid-span(6, 1, false, 0); // 6 of 12
    float: none;
  }
}

.views-exposed-form {
  .views-exposed-widget {
    input, select {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      float: none;
    }
    .form-submit {
      @include rem-fallback(margin-top, .5rem);
    }
  }
}

div.addressfield-container-inline {
  select.commerce-stripe-country {
    @include rem-fallback(width, 20rem);
  }
  
  input.commerce-stripe-postal-code {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    @include breakpoint($desktop) {
      @include rem-fallback(width, 10rem);
    }
  }

  input.commerce-stripe-locality {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    
    @include breakpoint($desktop) {
      //@include rem-fallback(width, 23.15rem);
      @include rem-fallback(width, 22rem);
      &#edit-commerce-customer-address-und-0-locality {
        @include rem-fallback(width, 22rem);
      }
    }
  }
}


textarea, .form-textarea-wrapper textarea {
  //@include grid-span(3, 1, false, 0);
  //float: none;
  width: 100%;
  
  @include breakpoint($mobile) {
    @include grid-span(5, 1, false, 0); // 5 of 6
    float: none;
  }
  @include breakpoint($tab) {
    @include grid-span(5, 1, false, 0); // 5 of 8
    float: none;
  }
  @include breakpoint($desktop) {
    @include grid-span(6, 1, false, 0); // 6 of 12
    float: none;
  }
}

address {
  font-style: normal;
  @include rem-fallback(margin-bottom, .5rem);
  .addressfield-container-inline, .street-block, .country {
    font-style: normal;
    @include rem-fallback(margin-bottom, .5rem);
  }
}

.addressbook-nodata {
  @include rem-fallback(margin-bottom, 1rem);
}

div#commerce-addressbook-billing-default, div#commerce-addressbook-billing-list {
  @include rem-fallback(margin-bottom, 1rem);
  h3.title {
    margin-bottom: 0;
  }
  div.addressbook {
    border-bottom: 1px solid $color-addressbook-border;
    @include border-radius();
    @include rem-fallback(padding, 1rem);
    
    @include breakpoint($tab) {
      @include grid-span(5, 1, false, 0); // 5 of 8
      float: none;
    }
    @include breakpoint($desktop) {
      @include grid-span(6, 1, false, 0); // 6 of 12
      float: none;
    }
  }
  .views-field {
    font-style: normal;
    @include rem-fallback(margin-bottom, .5rem);
  }
}

div#commerce-addressbook-billing-default {
  div.addressbook {
    border-bottom: none;
  }
}

.pager {
  @include rem-fallback(margin-top, 1rem);
}

fieldset {
  legend {
    @include rem-fallback(margin-left, .35rem);
    @include breakpoint($tab) {
      @include rem-fallback(margin-left, .45rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(margin-left, .65rem);
    }
  }
}

.fieldset-wrapper {
  @include grid-span(3, 1);
  
  @include breakpoint($mobile) {
    @include grid-span(6, 1);
  }
  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }
}

span {
  &.red {
    color: $color-status-denied;
  }
  &.green {
    color: $color-status-approved;
  }
  &.regular {
    font-weight: 400;
  }
}

div.email_template {
  @include rem-fallback(padding, 1rem);
  border: 1px solid $default-color-dark;
  @include border-radius();
  
  @include breakpoint($tab) {
    @include rem-fallback(padding, 2.5rem);
    @include rem-fallback(margin, 1rem);
  }
  
  @include breakpoint($desktop) {
    @include rem-fallback(padding, 4rem);
  }
}

div.description-small {
  font-size: small;
  @include rem-fallback(margin-top, .5rem);
}

div.price_display {
  width: 115px;
  text-align: center;
  border: 1px solid $default-color-dark;
  @include rem-fallback(padding, .7rem);
  @include rem-fallback(margin-bottom, 2rem);
  @include border-radius();
  font-weight: 600;
  @include rem-fallback(font-size, 1rem);
  @include breakpoint($tab) {
    @include rem-fallback(font-size, 1.2rem);
  }
}

/* FAQ Page */
div.faq {
  .faq-question, .faq-question-devis {
    @include rem-fallback(padding-top, 1.25rem);
    @include rem-fallback(padding-left, 1.5rem);
    a.active {
      color: $color-font-a;
    }
  }
  .faq-answer, .faq-answer-devis {
    @include rem-fallback(padding-top, 1rem);
    @include rem-fallback(padding-left, 3rem);
  }
}