// LOGIN THEME HELP URL: https://www.drupal.org/node/1949472

.l-main {
  margin: 0 auto;
  @include breakpoint($tab) {
    padding-top: 40px;
    padding-bottom: 175px;
  }
  @include breakpoint($desktop) {
    max-width: $max-width;
  }
}

.l-content {
  //@include background-grid($color: blue);
  background: $color-background-content;
  @include rem-fallback(margin-bottom, 1rem);
  @include grid-span(3, 1);
  
  @include breakpoint($mobile) {
    @include grid-span(6, 1);
  }
  
  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }
  
  @include breakpoint($desktop) {
    @include grid-span(12, 1);
  }
    
  h2.pane-title {
    @include rem-fallback(margin-top, 1rem);
    color: $color-font-h2;
    @include rem-fallback(font-size, 1.35rem);
    font-weight: 400;
    
    @include breakpoint($mobile) {
      @include font-family('Raleway');
      @include rem-fallback(font-size, 1.6rem);
    }
    @include breakpoint($tab) {
      @include rem-fallback(font-size, 1.8rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(font-size, 2rem);
    }
  }
  
  .user-profile, div.content, .ds-1col {
    div[class*=' field--'], div[class^='field--'], span[class*=' field--'], span[class^='field--'] {
      @include rem-fallback(line-height, 1.1rem);
      @include rem-fallback(margin-bottom, .8rem);
      display: block;
    }
  }
  
  h3.field-label {
    @include rem-fallback(font-size, 1rem);
    @include rem-fallback(line-height, 1.5rem);
    @include rem-fallback(margin-bottom, .5rem);
    
    @include breakpoint($mobile) {
      @include rem-fallback(font-size, 1.17rem);
      @include rem-fallback(line-height, 1.9rem);
      margin-bottom: 0;
    }
  }
  
  div.submitted {
    @include rem-fallback(margin-bottom, 1rem);
    @include rem-fallback(font-size, .95rem);
  }
  
  div.remove-br br {
    display: none;
  }
}

/* Fixing input widths here as in _form.scss is not working */
input[type="text"],
input[type="password"],
input[type="email"],
select {
  @include grid-span(3, 1, false, 0); //3 of 3
  float: none;
  
  @include breakpoint($mobile) {
    @include grid-span(4, 1, false, 0); //4 of 6
    float: none;
  }
  @include breakpoint($tab) {
    @include grid-span(4, 1, false, 0); //4 of 8
    float: none;
  }
  @include breakpoint($desktop) {
    @include grid-span(5, 1, false, 0); // 5 of 12
    float: none;
  }
}

textarea, .form-textarea-wrapper textarea {
  @include grid-span(3, 1, false, 0);
  float: none;
  
  @include breakpoint($mobile) {
    @include grid-span(5, 1, false, 0); // 5 of 6
    float: none;
  }
  @include breakpoint($tab) {
    @include grid-span(5, 1, false, 0); // 5 of 8
    float: none;
  }
  @include breakpoint($desktop) {
    @include grid-span(6, 1, false, 0); // 6 of 12
    float: none;
  }
}

fieldset {
  legend {
    @include rem-fallback(margin-left, .35rem);
    @include breakpoint($tab) {
      @include rem-fallback(margin-left, .45rem);
    }
    @include breakpoint($desktop) {
      @include rem-fallback(margin-left, .65rem);
    }
  }
}

.fieldset-wrapper {
  @include grid-span(3, 1);
  
  @include breakpoint($mobile) {
    @include grid-span(6, 1);
  }
  @include breakpoint($tab) {
    @include grid-span(8, 1);
  }
}

span.regular {
  font-weight: 400;
}

div.tabs {
  ul.tabs--primary, ul.tabs--secondary {
    @include rem-fallback(margin, .5rem, 0, 0);
    background: $color-tab-ul-background;
    border-bottom: 1px solid $color-tab-ul-border;
    @include border-top-radius(.5rem);
    
    li {
      @include rem-fallback(margin, 0, .15rem);
    }

    a {
      background: $color-tab-a-background;
      color: $color-tab-a;
      text-decoration: none;
      border: 1px solid $color-tab-a-border;
      @include border-top-radius(.5rem);
      display: block;
      margin: -1px 0 -1px -1px;
      position: relative;
      left: 1px;
      @include single-transition(all, .1s);
      
      @include breakpoint($mobile) {
        @include rem-fallback(padding, .35rem, 1rem);
      }

      &.active {
        color: $color-tab-a-active;
        background: $color-tab-a-active-background;
      }

      &:hover, &:focus {
        color: $color-tab-a-hover;
        background: $color-tab-a-hover-background;
      }
    }
  }

  ul.tabs--secondary {
    margin: 0;
    a {

    }
  }
}