/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after {
  @include single-transition(all, .1s);
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}

/* WRAPPER */

.dropdown {
  position: relative;
  width: 50%;
  border: 1px solid $color-input-border;
  cursor: pointer;
  background: $color-input-background;
  @include border-radius();
  @include rem-fallback(font-size, 0.85rem);
  @include rem-fallback(padding, .1rem, 0);

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  
  &.open {
    z-index: 2;
  }
  
  &:hover {
    border: 1px solid $color-input-hover-border;
    color: $color-input-hover;
  }
  
  &.focus {
    border: 1px solid $color-input-active-border;
    color: $color-input-active;
    @include single-box-shadow(null, null, null, null, $color-input-active-shadow);
  }
  
  @include grid-span(3, 1);
  float: none;
  
  @include breakpoint($mobile) {
    @include font-family('Raleway');
    @include grid-span(4, 1, false, 0);
    float: none;
  }
  @include breakpoint($tab) {
    @include grid-span(4, 1, false, 0); // 4 of 8
    float: none;
  }
  @include breakpoint($desktop) {
    @include grid-span(5, 1, false, 0); // 5 of 12
    float: none;
  }
}

.dropdown-regular {
  .dropdown {
    width: 180px;
  }
}

.dropdown-honorific {
  .dropdown {
    width: 88px;
    @include rem-fallback(margin-right, 1rem);
  }
}

/* CARAT */

.dropdown .carat{
  position: absolute;
  @include rem-fallback(right, .5rem);
  top: 50%;
  @include rem-fallback(margin-top, -.15rem);
  border: 4px solid transparent;
  border-top: 6px solid #555;
}

.dropdown.open .carat{
  margin-top: -10px;
  @include rem-fallback(margin-top, -.5rem);
  border-top: 4px solid transparent;
  border-bottom: 6px solid #555;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li {
  display: block;
  line-height: 1;
  @include rem-fallback(padding, .4rem, .5rem);
  overflow: hidden;
  white-space: nowrap;
}

.dropdown.disabled .selected {
	color: #999;
}

.dropdown .selected::after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	
	border-radius: 0 2px 2px 0;
	box-shadow: inset -55px 0 25px -20px #fff;
}

/* DROP DOWN WRAPPER */

.dropdown div {
  position: absolute;
  height: 0;
  left: -1px;
  right: -1px;
  top: 100%;
  margin-top: -1px;
  background: $color-input-background;
  border: 1px solid $color-input-border;
  border-top: 1px solid #eee;
  @include border-bottom-radius();
  overflow: hidden;
  opacity: 0;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li {
  margin-bottom: 0;
  list-style: none;
  @include rem-fallback(padding, .5rem, .8rem);
  
  &.focus {
    background: fade-out(darken($secondary-color, 10), .1);
	position: relative;
	z-index: 3;
	color: #fff;
  }
  
  &.active {
    font-weight: 700;
  }
}