#page-footer {
  @include breakpoint($tab) {
    position: absolute;
    bottom: 0;
    height: 175px;
  }
}

.l-footer {
  //@include background-grid($color: blue);
  width: 100%;
  background: $color-footer-background;
  @include background-image(linear-gradient($color-footer-background-top, $color-footer-background-bottom));
  border: none;
  border-top: 1px solid $color-footer-border-top;
  
  .l-region--footer {
    margin: 0 auto;
    @include breakpoint($desktop) {
      width: $max-width;
    }
  }
    
  // menu-block-1 has been added on the panels menu on drupal.
  div[class*=' menu-block'], div[class^='menu-block'], div.panels-ipe-portlet-wrapper {
    text-align: center;
    @include rem-fallback(padding-bottom, .5rem);
    
    @include breakpoint($tab) {
      display: inline-block;
    }
  }
  
  @include breakpoint($tab) {
    div.menu-block-1 {
      @include grid-span(2, 1);
    }
    div.menu-block-2 {
      @include grid-span(2, 3);
    }
    div.menu-block-3 {
      @include grid-span(2, 5);
    }
    div.menu-block-4 {
      @include grid-span(2, 7);
    }
  }
  @include breakpoint($desktop) {
    div.menu-block-1 {
      @include grid-span(3, 1);
    }
    div.menu-block-2 {
      @include grid-span(3, 4);
    }
    div.menu-block-3 {
      @include grid-span(3, 7);
    }
    div.menu-block-4 {
      @include grid-span(3, 10);
    }
  }
    
  /*div.panels-ipe-portlet-wrapper {
    display: inline-block;
    vertical-align: top;
    @include rem-fallback(padding, 0, 1rem);
    width: 23%;

    div[class*=' menu-block'], div[class^='menu-block'] {
      //display: block;
      //width: 100%;
      //padding: 0;
    }
  }*/
    
  ul {
    text-align: center;
    .leaf {
      list-style-image: none;
      list-style-type: none;
    }

    li {
      @include rem-fallback(margin, 0, 0, .35rem);
      @include transition-duration(.08s);

      &.active-trail {
        
      }
      &:hover {
        @include rem-fallback(padding-left, .2rem);
      }
    }
  }

  a {
    color: $color-footer-a;
    @include font-family-mobile('light');

    @include breakpoint($mobile) {
      @include font-family('Source Sans Pro', 'light');
    }

    &:hover {
      color: $color-footer-a-hover;
    }
  }

  a.active {
    color: $color-footer-a-active;
    @include font-family-mobile();

    @include breakpoint($mobile) {
      @include font-family('Source Sans Pro');
    }

    &:hover {
      color: $color-footer-a-hover;
    }
  }

  h2.pane-title {
    @include rem-fallback(font-size, .95rem);
    font-weight: 400;
    color: $color-footer-title;
    margin: 0;
    
    @include breakpoint($mobile) {
      @include rem-fallback(font-size, 1.25rem);
      @include rem-fallback(margin-bottom, .2rem);
    }

    @include breakpoint($tab) {
      @include rem-fallback(margin-bottom, .3rem);
    }
  }
}