header.l-header-content {
  text-align: center;
  @include background-image(linear-gradient($color-navigation-background-top, $color-navigation-background-bottom));
  border: none;
  border-bottom: 3px solid $color-navigation-border-bottom;
  
  @include breakpoint($tab) {
    text-align: inherit;
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    //margin-bottom: -80px;
    z-index: 150;
    border-bottom: 1px solid transparent;
    @include box-shadow(0px 1px 15px -3px $color-navigation-sticky-shadow);
  }
}

.header-container {
  @include breakpoint($tab) {
    margin: 0 auto;
    @include rem-fallback(padding, 0, .5rem);
  }
  @include breakpoint($desktop) {
    @include rem-fallback(padding, 0, 1rem);
    max-width: $max-width;
  }
}

.l-region--header {
  display: inline-block;
}

/*.navSticky {
  position: fixed;
  top: 0;
  width: 100%;
  @include box-shadow(0px 1px 15px -3px $color-navigation-sticky-shadow);
  z-index: 150;
}*/