header.l-header-content {
  text-align: center;
  @include background-image(linear-gradient($color-navigation-background-top, $color-navigation-background-bottom));
  border: none;
  border-bottom: 3px solid $color-navigation-border-bottom;
  
  @include breakpoint($tab) {
    text-align: inherit;
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    //margin-bottom: -80px;
    z-index: 150;
    border-bottom: 1px solid transparent;
    @include box-shadow(0px 1px 15px -3px $color-navigation-sticky-shadow);
  }
}

.header-container {
  @include breakpoint($tab) {
    margin: 0 auto;
    @include rem-fallback(padding, 0, .5rem);
  }
  @include breakpoint($desktop) {
    @include rem-fallback(padding, 0, 1rem);
    max-width: $max-width;
  }
  
  a#logo > img {
    width: 0;
    height: 0;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-image: url(http://3devis.be/sites/default/files/comptable-fiscaliste-bruxelles-mobile.png);
    
    @include breakpoint($tab) {
      background: none;
      width: 145px;
      height: auto;
      padding: 0;
      margin-bottom: -6px;
    }
  }
  
  &.maintenance {
    height: 67px;
    img {
      position: relative;
      top: 16px;
    }
  }
}

.l-region--header {
  display: inline-block;
  @include rem-fallback(margin, 1.5rem, 0);
  @include breakpoint($tab) {
    @include rem-fallback(margin, .9rem);
  }
}

/*.navSticky {
  position: fixed;
  top: 0;
  width: 100%;
  @include box-shadow(0px 1px 15px -3px $color-navigation-sticky-shadow);
  z-index: 150;
}*/