header.l-header {
  @include breakpoint($tab) {
    height: 135px;
  }
}

.l-region--header {
  margin: 0 auto;
  background: $color-header-background;
  border-bottom: none;
  @include breakpoint($desktop) {
    max-width: $max-width;
  }
}

div#logo-title {
  //@include background-grid($color: blue);
  position: relative;
  text-align: center;
  
  @include breakpoint($tab) {
    text-align: left;
    @include rem-fallback(padding-bottom, 1rem);
  }
  
  a#logo {
    img {
      @include rem-fallback(margin-top, 1rem);
      
      @include breakpoint($tab) {
        margin-left: gutter-span();
      }
      @include breakpoint($desktop) {
        margin-left: gutter-span();
      }
    }
  }
}

div#name-and-slogan {
  @include font-family-mobile(light);
  color: $color-name-slogan;
  @include rem-fallback(margin, 1rem, 0);
  @include rem-fallback(font-size, 1rem);
  
  @include breakpoint($mobile) {
    @include rem-fallback(font-size, 1.1rem);
    @include font-family('Source Sans Pro', light);
  }
  
  @include breakpoint($tab) {
    margin: 0;
    position: relative;
    float: right;
    text-align: right;
    @include rem-fallback(font-size, 1.3rem);
    @include rem-fallback(top, 4.5rem);
    margin-right: gutter-span();
  }
  
  @include breakpoint($desktop) {
    @include rem-fallback(top, 1.5rem);
    @include rem-fallback(font-size, 1.6rem);
  }
  
  /*@include breakpoint($tab $desktop) {
    @include grid-span(6, 7);
    @include rem-fallback(font-size, 1.3rem);
    @include rem-fallback(top, 4rem);
  }*/
}