header {
    /*height: 173px;
    
    @include breakpoint(max-width $mobile) {
        height: 174px;
    }*/
}

.l-region--header {
    width: 100%;
    @include single-box-shadow();
    border: 1px solid $color-header-border;
    background: $color-header-background;
    border-bottom: none;
    
    @include breakpoint(max-width $tab) {
        float: none;
        position: relative;
        width: auto;
        z-index: auto;
        text-align: center;
    }
}

div#name-and-slogan {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: right;
    color: $color-name-slogan;
    @include font-family('Source Sans Pro', light);
    @include rem-fallback(font-size, 1.6rem);
    font-style: italic;
    @include rem-fallback(padding, 1.6rem);
    
    #site-name {
        height: inherit;
        padding: 10px;
    }
    
    a {
        @include rem-fallback(letter-spacing, .03rem);
        @include single-text-shadow();
        font-weight: 600;
    }
    
    @include breakpoint($mobile $tab) {
        position: inherit;
        @include rem-fallback(padding, 1.3rem);
        @include rem-fallback(font-size, 1.3rem);
        text-align: center;
    }
    
    @include breakpoint(max-width $mobile) {
        position: inherit;
        @include rem-fallback(padding, 1rem);
        @include rem-fallback(font-size, 1.2rem);
        text-align: center;
    }
}