nav.l-navigation-content {
  @include breakpoint($tab) {
    display: inline-block;
    float: right;
    position: relative;
    top: 1.35rem;
    @include single-transition(all, .5s);
    &.small {
      top: .9rem;
      @include single-transition(all, .5s);
    }
  }
}

.l-region--navigation {
  h2.pane-title {
    margin: 0;
  }
  
  ul {
    text-align: center;
    li {
      display: inline;
      margin: 0;
      a {
        @include font-family-mobile(light);
        @include rem-fallback(font-size, .85rem);
        color: $color-navigation-a;
        display: block;
        float: none;
        @include rem-fallback(padding, .2rem, 0);
        border: none;
        border-bottom: 1px solid $color-navigation-border-mobile;
        cursor: default;
        
        @include breakpoint($mobile) {
          @include font-family('Source Sans Pro', light);
          @include rem-fallback(font-size, 1rem);
          @include rem-fallback(padding, .3rem, 0);
        }

        &:hover {
          color: $color-navigation-hover-a;
          border: none;
          position: relative;
          top: 1px;
          border-bottom: 1px solid $color-navigation-border-mobile-hover;
        }

        &.active {
          color: $color-navigation-hover-a;
          font-weight: 400;
          border-bottom: 1px solid $color-navigation-border-mobile-hover;
        }
      }
    }
  }
  
  @include breakpoint($tab) {
    ul {
      float: right;
      margin: 0;
      
      li {
        position: relative;
        display: inline-block;
        
        a {
          @include font-family('Source Sans Pro', light);
          @include rem-fallback(font-size, 1.1rem);
          @include rem-fallback(padding, .55rem, .1rem, .28rem);
          @include rem-fallback(margin, 0, .6rem);
          cursor: default;
          @include single-transition(background .3s, color .3s, border-bottom-color .3s);
          display: block;
          float: left;
          border: none;
          border-bottom: .2rem transparent solid;
          
          &:hover, &.active {
            position: static;
            top: 0;
            border-bottom: .2rem $color-navigation-hover-border solid;
          }
        }
        
        &:hover > ul {
          display: block;
        }
      }
      
      ul {
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        top: 100%;
        text-align: center;
        box-sizing: border-box;

        li {
          margin: 0;
          box-sizing: border-box;
          width: 100%;
        }
      }

      ul.navSpecialBox {
        z-index: 100;
        right: 0;

        li {
          font-weight: 200;
          color: $color-navigation-special-box;
          background: $color-navigation-special-box-background;
          
          @include filter-gradient($color-navigation-special-box-base, $color-navigation-special-box-base, vertical); // IE6-9
          @include background-image(linear-gradient(top, $color-navigation-special-box-background 0%, $color-navigation-special-box-background 100%));
          
          width: 15rem;
          @include rem-fallback(font-size, .85rem);
          @include rem-fallback(padding, .8rem);
          padding-bottom: 0;
          margin: 0;
          border: none;
          text-align: center;

          .navSpecialBoxReg {
            @include single-transition(color .3s);
            float: none;
            color: $base-color;
            font-size: 1.5rem;
            padding: 0;
            border: none;
            @include rem-fallback(margin-bottom, 1.1rem);

            &:hover {
              padding: 0;
              background: none;
              border: none;
              color: $color-navigation-special-box-a-hover;
            }
          }
        }
      }
    }
  }
}