.l-region--sidebar-first {
    background: $color-background-div;
    border: 1px solid $color-border-div;
    @include rem-fallback(padding, 0, 1rem);
    @include rem-fallback(margin-bottom, 1rem);
    @include border-radius();
    @include single-box-shadow();
    
    ul {
        .leaf {
            list-style-image: none;
            list-style-type: none;
        }

        li {
            @include rem-fallback(margin, .5rem);
            @include transition-duration(.08s);
            
            &.active-trail {
                @include rem-fallback(padding-left, .2rem);
            }
        }
        li:hover {
            @include rem-fallback(padding, 0, .2rem);
        }
    }
    
    a.active {
        color: $color-font-a-active;
        
        &:hover {
            color: $color-font-a-hover;
        }
    }
}