// Source: http://html-color-codes.info/
// Source pastel: http://www.incengine.com/?art=pastel_colors
// Source tones: http://colllor.com/

// sass colors: https://github.com/sass/sass/blob/stable/lib/sass/script/value/color.rb#L28-L180

$blue: #2E64FE;
$orange: #FF8000;
$yellow: #FBD760;
$green: #94f286;
$green-blue: #5EDCDB;
$purple: #4C3463;

$base-color: #ffb900;
$secondary-color: #0078E0; //#0088ff;
$tertiary-color: #800022;

$red: #FF4747;
$red: lighten($tertiary-color, 15);


/* Defaults */
$default-color-dark: rgb(51, 51, 51);
$default-color-border: darken(white, 15);
$default-color-blue: #002C52;

/* Header */
$color-header-background: #002C52;
$color-header-border: darken(white, 15);
$color-name-slogan: whitesmoke;

/* Navigation. */
$color-navigation-a: $default-color-blue;
$color-navigation-hover-a: black;
$color-navigation-background: lighten($base-color, 10);
$color-navigation-background-top: fade-out($color-navigation-background, .15);
$color-navigation-background-bottom: fade-out($color-navigation-background, .05);
$color-navigation-hover-background: $base-color;
$color-navigation-border: darken(white, 15);
$color-navigation-hover-border: darken($base-color, 2);
$color-navigation-sticky-shadow: rgba(0, 0, 0, 0.4);

$color-navigation-special-box: darken(white, 2);
$color-navigation-special-box-background: fade-out($default-color-blue, .05);
$color-navigation-special-box-a: $base-color;
$color-navigation-special-box-a-hover: lighten($base-color, 35);

/* Tabs. */
$color-tab-ul-background: darken(white, 2);
$color-tab-ul-border: $default-color-border;
$color-tab-a-background: darken(white, 3);
$color-tab-a-border: $default-color-border;
$color-tab-a: lighten(gray, 10);
$color-tab-a-active: black;
$color-tab-a-active-background: white;
$color-tab-a-hover: white; //lighten($base-color, 15);
$color-tab-a-hover-background: darken(gray, 10);

/* Buttons. */
$color-button: darken(gray, 15);
$color-button-hover: darken(gray, 35);
$color-button-active: black;
$color-button-text-shadow: rgba(0, 0, 0, 0.1);

$color-button-background: darken(white, 3);
$color-button-hover-background: white;
$color-button-active-background: white;

$color-button-background-top: darken(white, 3);
$color-button-hover-background-top: white;
$color-button-active-background-top: white;

$color-button-background-bottom: fade-out(darken(white, 20), .3);
$color-button-hover-background-bottom: fade-out(darken(white, 15), .3);
$color-button-active-background-bottom: darken(white, 17);

$color-button-border: darken(white, 30);
$color-button-hover-border: darken(white, 35);
$color-button-active-border: darken(white, 45);

$color-button-border-side: darken(white, 15);
$color-button-hover-border-side: darken(white, 20);
$color-button-active-border-side: darken(white, 30);

$color-button-active-shadow: rgba(0, 0, 0, 0.2);

/* Forms. */
$color-form-required: fade-out(red, .2);

$color-fieldset-legend: $default-color-blue;
$color-fieldset-border: darken(white, 5);
$color-fieldset-description: darken(gray, 20);
$color-fieldset-background: darken(white, 2.5);
$color-fieldset-shadow: rgba(0, 0, 0, 0.1);
$color-fieldset-admin-border: fade-out(lighten($secondary-color, 10), .7);

$color-input: darken(gray, 15);
$color-input-hover: darken(gray, 35);
$color-input-active: black;

$color-input-background: darken(white, 1.2);
$color-input-hover-background: darken(white, 1);
$color-input-active-background: white;

$color-input-border: darken(white, 15);
$color-input-hover-border: darken(white, 30);
$color-input-active-border: darken($secondary-color, 5);

$color-input-hover-shadow: fade-out($color-input-hover-border, .5);
$color-input-active-shadow: fade-out($color-input-active-border, .5);

$color-input-error-border: fade-out($red, .5);
$color-input-error-hover-border: fade-out($red, .1);

$color-label: lighten(black, 15);

/* Autocomplete. */
$color-div-autocomplete: $default-color-blue;
$color-div-autocomplete-background: white;
$color-div-autocomplete-border: $default-color-border;
$color-div-autocomplete-li-background-top: white;
$color-div-autocomplete-li-background-bottom: darken(white, 1.5);
$color-div-autocomplete-li-selected: white;
$color-div-autocomplete-li-selected-background-top: fade-out(lighten($secondary-color, 15), .2);
$color-div-autocomplete-li-selected-background-bottom: fade-out($secondary-color, .2);

/* Messages. */
$color-messages: lighten(black, 15);
$color-messages-background: darken(white, 4);
$color-messages-border: darken(white, 8);

$color-messages-green: darkolivegreen;
$color-messages-green-background: fade-out($green, 0.92);
$color-messages-green-border: fade-out($green, 0.88);

$color-messages-yellow: darkgoldenrod;
$color-messages-yellow-background: fade-out($yellow, 0.92);
$color-messages-yellow-border: fade-out($yellow, 0.88);

$color-messages-red: darkred;
$color-messages-red-background: fade-out($red, 0.92);
$color-messages-red-border: fade-out($red, 0.88);

/* Tables. */
$color-thead-background: darken(white, 20);
$color-thead-a: $default-color-blue;
$color-thead-th-background-active: fade-out(lighten($secondary-color, 15), .85);

$color-tbody-tr-background-odd: darken(white, 6);
$color-tbody-tr-background-even: darken(white, 3);
$color-tbody-tr-background-hover: fade-out(lighten($secondary-color, 15), .8);

$color-tbody-td-background-active: fade-out(lighten($secondary-color, 15), .9);

/* Footer */
$color-footer-border: darken(white, 15);
$color-footer-background: lighten($base-color, 10);
$color-footer-background-top: fade-out($color-navigation-background, .15);
$color-footer-background-bottom: fade-out($color-navigation-background, .05);

$color-footer-title: black;
$color-footer-a: $default-color-blue;
$color-footer-a-hover: black;
$color-footer-a-active: black;

/* Content. */
$color-title-budget: $default-color-blue;

$color-font-a: lighten($default-color-blue, 25);
$color-font-a-hover: darken($color-font-a, 10);
$color-font-a-active: $color-font-a-hover;




// Background
$color-background-body: darken(white, 5);
$color-background-content: white;
$color-background-div: white;

// Shadow
$color-box-shadow: rgba(0, 0, 0, 0.05);

// Border
$color-border-content: darken(white, 15);


$color-border-div: darken(white, 15);

// Font
$color-font: darken(gray, 35);
$color-font-h: lighten(black, 15);
$color-font-h2: lighten(black, 15);
$color-font-content-h3-field: lighten(black, 35);
