$default-border-radius: 0.2rem;

$default-transition-duration: .3s;
$default-transition-function: ease-out;

$default-box-shadow-color: $color-box-shadow;
$default-box-shadow-v-offset: 1px;
//$default-box-shadow-blur: 5px;