$base-font-size: 16px;

$font-regular: 'SourceSansProRegular', Helvetica, Arial, sans-serif;
$font-light: 'SourceSansProLight', Helvetica, Arial, sans-serif;
$font-semi-bold: 'SourceSansProSemibold', Helvetica, Arial, sans-serif;

$font-secondary-regular: 'RalewayRegular', Helvetica, Arial, sans-serif;
$font-secondary-light: 'RalewayLight', Helvetica, Arial, sans-serif;
$font-semi-bold: 'RalewaySemibold', Helvetica, Arial, sans-serif;