table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 100%;
}

thead {
    background: $color-thead-background;
    font-weight: 600;
    a.active {
        color: $color-thead-a;
        font-weight: inherit;
    }
    
    th {
        @include rem-fallback(padding, .5rem);
        vertical-align: middle;
        &.active {
            background: $color-thead-th-background-active;
        }
    }
}

tbody {
  tr {
    &.even {
      background: $color-tbody-tr-background-even;
    }

    &.odd {
      background: $color-tbody-tr-background-odd;
    }

    &:hover {
      background: $color-tbody-tr-background-hover;
    }
    
    &.nohover:hover {
      background: none;
    }
  }

  td {
    @include rem-fallback(padding, .5rem);
    vertical-align: middle;
    &.active {
      background: $color-tbody-td-background-active;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select,
    div {
      margin: 0;
    }
    
    &.Approved, span.Approved {
      color: $color-status-approved;
      //background: $color-status-approved-background;
    }
    
    &.Denied, span.Denied {
      color: $color-status-denied;
      //background: $color-status-denied-background;
    }
    
    &.Pending {
      color: $color-status-pending;
      //background: $color-status-pending-background;
    }
    
    &.views-field-field-devis-product, &.views-field-nothing {
      white-space: nowrap;
    }
  }
}

#social-field-wrapper {
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  table#socialfield-table {
    @include rem-fallback(margin, .5rem);
    thead {
      background: transparent;
    }
    tr {
      border-bottom: 1px solid $color-tbody-tr-background-even;
      &.even, &.odd, &:hover {
        background: none;
      }
    }
    td {
      &:first-of-type {
        width: 10%;
        text-align: center;
      }
      input[type="text"] {
        width: 100%;
      }
      input[type="submit"] {
        @include rem-fallback(margin, .5rem, 0);
        @include rem-fallback(padding, .3rem, 1rem);
      }
      &:last-of-type {
        width: 48%;
      }
      a.tabledrag-handle {
        display: none;
      }
      i {
        @include rem-fallback(padding, .3rem, .2rem);
        @include border-radius(.2rem);
      }
    }
  }
}
.l-content-block {
  table#socialfield-table {
    td {
      &:last-of-type {
        width: 50% !important;
      }
    }
  }
}