table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 100%;
}

thead {
    background: $color-thead-background;
    font-weight: 600;
    a.active {
        color: $color-thead-a;
        font-weight: inherit;
    }
    
    th {
        @include rem-fallback(padding, .5rem);
        vertical-align: middle;
        &.active {
            background: $color-thead-th-background-active;
        }
    }
}

tbody {
  tr {
    &.even {
      background: $color-tbody-tr-background-even;
    }

    &.odd {
      background: $color-tbody-tr-background-odd;
    }

    &:hover {
      background: $color-tbody-tr-background-hover;
    }
    
    &.nohover:hover {
      background: none;
    }
  }

  td {
    @include rem-fallback(padding, .5rem);
    vertical-align: middle;
    &.active {
      background: $color-tbody-td-background-active;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select,
    div {
      margin: 0;
    }
    
    &.Approved, span.Approved {
      color: $color-status-approved;
      //background: $color-status-approved-background;
    }
    
    &.Denied, span.Denied {
      color: $color-status-denied;
      //background: $color-status-denied-background;
    }
    
    &.Pending {
      color: $color-status-pending;
      //background: $color-status-pending-background;
    }
    
    &.views-field-field-devis-product, &.views-field-nothing {
      white-space: nowrap;
    }
  }
}