@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only only works with relative paths.
@import "../../variables/**/*";
@import "../../abstractions/**/*";

.l-main {
  @include clearfix;
}

.l-content {
  //@include grid-span(12, 1);
}