@import "breakpoint";

.pre-intructions {
    @include rem-fallback(padding-bottom, 1rem);
}
 
.title-budget {
    color: $color-title-budget;
    font-size: 2rem; 
    margin-bottom: 0;
}

.subtitle-budget {
    margin-bottom: 0;
}

.description-budget {
}