@import "breakpoint";

.pre-intructions {
    @include rem-fallback(padding-bottom, 1rem);
}

.title-budget {
    color: $color-title-budget;
    font-size: 2rem; 
    margin-bottom: 0;
}

.subtitle-budget {
    margin-bottom: 0;
}

.description-budget {
}
/*
@include breakpoint($tab $desktop) {
    .title-budget, .subtitle-budget, .description-budget {
        text-align: center;
    }
    
    .title-budget {
        @include rem-fallback(font-size, 1.8rem);
        @include rem-fallback(line-height, 2.5rem);
    }
    
    .subtitle-budget {
        @include rem-fallback(font-size, 1.23rem);
    }
    
    .description-budget {
        @include rem-fallback(font-size, .83rem);
        @include rem-fallback(line-height, 1.5rem);
    }
}

@include breakpoint(max-width $tab) {
    .title-budget, .subtitle-budget, .description-budget {
        text-align: center;
    }
    
    .title-budget {
        @include rem-fallback(font-size, 1.5rem);
        @include rem-fallback(line-height, 2.1rem);
    }
    
    .subtitle-budget {
        @include rem-fallback(font-size, 1.1rem);
        @include rem-fallback(line-height, 1.6rem);
    }
    
    .description-budget {
        @include font-family('Source Sans Pro', light);
        @include rem-fallback(font-size, .8rem);
        @include rem-fallback(line-height, 1.3rem);
    }
}*/