.checkout_review, fieldset#edit-cart-contents {
  table {
    border: 1px solid whitesmoke;
    
    tbody {
      tr.odd:hover {
        background: $color-tbody-tr-background-odd;
      }
      
      tr.even:hover {
        background: $color-tbody-tr-background-even;
      }
    }
  }
}

.pane-data {
  @include rem-fallback(margin-bottom, 1rem);
  .addressfield-container-inline, .street-block, .country {
    font-style: normal;
    @include rem-fallback(margin-bottom, .5rem);
  }
}

.commerce_payment, .customer_profile_billing {
  .stripe, input[name*="customer_profile_billing"] {
    @include breakpoint(max-width $tab) {
      max-width: 100%;
      width: auto;
    }

    @include breakpoint($tab $desktop) {
      max-width: 80%;
      width: auto;
    }
  }
}

.commerce-credit-card-expiration {
  margin-bottom: 0;
  
  .form-item {
    display: inline-block;
  }
  
  .commerce-month-year-divider {
    @include rem-fallback(margin, 0, .6rem, 0, .25rem);
  }
}

.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back {
  @extend input[type="submit"]#edit-cancel;
  @include rem-fallback(margin-left, 1rem);
}