.links {
  @include rem-fallback(margin-bottom, 1rem);
}

.field--commerce-line-items {
  table {
    border: 1px solid whitesmoke;
    
    .views-field-commerce-unit-price, .views-field-quantity, .views-field-commerce-total {
      width: 12%;
    }

    tbody {
      tr.odd:hover {
        background: $color-tbody-tr-background-odd;
      }

      tr.even:hover {
        background: $color-tbody-tr-background-even;
      }
    }

    &.commerce-price-formatted-components {
      width: 33%;
      margin-left: auto;
      
      tr {
        font-weight: 600;
      }
    }
  }
  
  .space {
    height: 50px;
  }
}

.field--commerce-customer-billing {
  @include rem-fallback(margin-bottom, 1rem);
  .addressfield-container-inline, .street-block, .country {
    font-style: normal;
    @include rem-fallback(margin-bottom, .5rem);
  }
}